@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-terminal: #191919;
  --color-terminal-highlight: #a99ad5;

  --breakpoint-sm: 680px;
}

:root {
  --background: #0a0a0a;
  --foreground: #818181;
}

body {
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ibm-plex-mono), var(--noto-sans-mono), monospace;
  font-size: 13px;
  font-weight: 500;
}
