span {
    animation: animate 3s linear infinite;
}
  
span::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
  
span:nth-child(1) {
    top: -25px;
    right: 0;
    left: initial;
    animation-delay: 4s;
    animation-duration: 1s;
}
  
span:nth-child(2) {
    top: -25px;
    right: 80px;
    left: initial;
    animation-delay: 4.2s;
    animation-duration: 3s;
}
  
span:nth-child(3) {
    top: -25px;
    right: 0px;
    left: initial;
    animation-delay: 4.4s;
    animation-duration: 2s;
}
  
span:nth-child(4) {
    top: -25px;
    right: 180px;
    left: initial;
    animation-delay: 4.6s;
    animation-duration: 1.5s;
}
  
span:nth-child(5) {
    top: -25px;
    right: 400px;
    left: initial;
    animation-delay: 4.8s;
    animation-duration: 2.5s;
}
  
span:nth-child(6) {
    top: -25px;
    right: 600px;
    left: initial;
    animation-delay: 5s;
    animation-duration: 3s;
}

span:nth-child(7) {
    top: 300px;
    right: -25px;
    left: initial;
    animation-delay: 5s;
    animation-duration: 1.75s;
}
  
span:nth-child(8) {
    top: -25px;
    right: 700px;
    left: initial;
    animation-delay: 5.4s;
    animation-duration: 1.25s;
}
  
span:nth-child(9) {
    top: -25px;
    right: 1000px;
    left: initial;
    animation-delay: 4.75s;
    animation-duration: 2.25s;
}
  
span:nth-child(10) {
    top: -25px;
    right: 1000px;
    left: initial;
    animation-delay: 6.75s;
    animation-duration: 2.25s;
}

.username {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.me-container {
    animation: fadeInMoveAnimation ease 3s forwards;
    animation-delay: 1s;
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInMoveAnimation {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
