html, body, .App {
    width: 100vw;
    height: 100vh;
    background: #141414;
    overflow: hidden;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}
  
span {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
      0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;
}
  
span::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
  
@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;
    }
}
  
span:nth-child(1) {
    top: -25px;
    right: 0;
    left: initial;
    animation-delay: 4s;
    animation-duration: 1s;
}
  
span:nth-child(2) {
    top: -25px;
    right: 80px;
    left: initial;
    animation-delay: 4.2s;
    animation-duration: 3s;
}
  
span:nth-child(3) {
    top: -25px;
    right: 0px;
    left: initial;
    animation-delay: 4.4s;
    animation-duration: 2s;
}
  
span:nth-child(4) {
    top: -25px;
    right: 180px;
    left: initial;
    animation-delay: 4.6s;
    animation-duration: 1.5s;
}
  
span:nth-child(5) {
    top: -25px;
    right: 400px;
    left: initial;
    animation-delay: 4.8s;
    animation-duration: 2.5s;
}
  
span:nth-child(6) {
    top: -25px;
    right: 600px;
    left: initial;
    animation-delay: 5s;
    animation-duration: 3s;
}

span:nth-child(7) {
    top: 300px;
    right: -25px;
    left: initial;
    animation-delay: 5s;
    animation-duration: 1.75s;
}
  
span:nth-child(8) {
    top: -25px;
    right: 700px;
    left: initial;
    animation-delay: 5.4s;
    animation-duration: 1.25s;
}
  
span:nth-child(9) {
    top: -25px;
    right: 1000px;
    left: initial;
    animation-delay: 4.75s;
    animation-duration: 2.25s;
}
  
span:nth-child(10) {
    top: -25px;
    right: 1000px;
    left: initial;
    animation-delay: 6.75s;
    animation-duration: 2.25s;
}

@font-face {
    font-family: 'AlphaCentauri';
    src: url('./font/AlphaCentauri.eot');
    src: url('./font/AlphaCentauri.eot?#iefix') format('embedded-opentype'),
        url('./font/AlphaCentauri.woff2') format('woff2'),
        url('./font/Alphacentauri.woff') format('woff'),
        url('./font/AlphaCentauri.ttf') format('truetype'),
        url('./font/AlphaCentauri.svg#AlphaCentauri') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.star-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.username {
    font-family: 'AlphaCentauri';
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    white-space: nowrap;
    position: relative;
    font-size: 72px;
    margin-bottom: -5px;
    color: #fff;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 99;
}

.me-container {
    opacity: 0;
    transform: translateX(100%);
    animation: fadeInMoveAnimation ease 3s forwards;
    animation-delay: 1s;
    display: flex;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page-button {
    background: transparent;
    height: 32px;
    width: 32px;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin-left: 6px;
    z-index: 99;
    outline: none;
}

.page-button:hover {
    color: darkgrey!important;
}

.page-button:hover:active {
    color: grey!important;
}

.who-am-i {
    font-family: 'AlphaCentauri';
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    white-space: nowrap;
    position: relative;
    font-size: 30px;
    margin-left: 4px;
    margin-right: 6px;
    color: #fff;
    z-index: 99;
}

.icon {
    font-size: 32px;
}

@media screen and (max-width: 750px) {
    .username {
        font-size: 44px;
    }

    .who-am-i {
        font-size: 20px;
    }

    .icon {
        font-size: 18px;
    }

    .page-button {
        margin-left: 4px;
    }
}

@media screen and (max-width: 350px) {
    .username {
        font-size: 28px;
    }

    .who-am-i {
        font-size: 14px;
    }

    .icon {
        font-size: 12px;
    }

    .page-button {
        margin-left: 2px;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInMoveAnimation {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
