@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AlphaCentauri';
    src: url('./font/AlphaCentauri.eot');
    src: url('./font/AlphaCentauri.eot?#iefix') format('embedded-opentype'),
        url('./font/AlphaCentauri.woff2') format('woff2'),
        url('./font/Alphacentauri.woff') format('woff'),
        url('./font/AlphaCentauri.ttf') format('truetype'),
        url('./font/AlphaCentauri.svg#AlphaCentauri') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html, body, .App {
    width: 100vw;
    height: 100vh;
    background: #141414;
    overflow: hidden;
    position: relative;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 750px) {
    .username {
        font-size: 44px;
    }

    .who-am-i {
        font-size: 20px;
    }

    .icon {
        font-size: 18px;
    }

    .page-button {
        margin-left: 0!important;
    }
}

@media screen and (max-width: 350px) {
    .username {
        font-size: 28px;
    }

    .who-am-i {
        font-size: 14px;
    }

    .icon {
        font-size: 12px;
    }

    .page-button:first-child {
        margin-left: -16px!important;
    }
    
    .page-button:last-child {
        margin-left: -10px!important;
    }
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}
